SUBSYSTEM=="input", GROUP="input", MODE="0660"
SUBSYSTEM=="i2c-dev", GROUP="i2c", MODE="0660"
SUBSYSTEM=="spidev", GROUP="spi", MODE="0660"
SUBSYSTEM=="bcm2835-gpiomem", GROUP="gpio", MODE="0660"

SUBSYSTEM=="gpio", GROUP="gpio", MODE="0660"
SUBSYSTEM=="gpio*", PROGRAM="/bin/sh -c '\
	chgrp -R gpio /sys/class/gpio && chmod -R g=u /sys/class/gpio;\
	chgrp -R gpio /sys/devices/virtual/gpio && chmod -R g=u /sys/devices/virtual/gpio;\
	chgrp -R gpio /sys$devpath && chmod -R g=u /sys$devpath\
'"
