CONFIG_CMDLINE="console=tty1"

CONFIG_RD_GZIP=n
CONFIG_RD_BZIP2=n
CONFIG_RD_LZMA=n
CONFIG_RD_XZ=n
CONFIG_RD_LZO=n
CONFIG_RD_LZ4=y

CONFIG_INITRAMFS_COMPRESSION_NONE=n
CONFIG_INITRAMFS_COMPRESSION_GZIP=n
CONFIG_INITRAMFS_COMPRESSION_BZIP2=n
CONFIG_INITRAMFS_COMPRESSION_LZMA=n
CONFIG_INITRAMFS_COMPRESSION_XZ=n
CONFIG_INITRAMFS_COMPRESSION_LZO=n
CONFIG_INITRAMFS_COMPRESSION_LZ4=y

CONFIG_BPF_SYSCALL=y
CONFIG_CGROUP_BPF=y

CONFIG_KEY_DH_OPERATIONS=y
CONFIG_CRYPTO=y
CONFIG_CRYPTO_HASH=y
CONFIG_CRYPTO_DH=y
CONFIG_CRYPTO_SHA512=y
CONFIG_CRYPTO_USER_API=y
CONFIG_CRYPTO_USER_API_HASH=y

