CONFIG_RD_GZIP=n
CONFIG_RD_BZIP2=n
CONFIG_RD_LZMA=n
CONFIG_RD_XZ=n
CONFIG_RD_LZO=n
CONFIG_RD_LZ4=n
CONFIG_RD_ZSTD=y

CONFIG_INITRAMFS_COMPRESSION_NONE=n
CONFIG_INITRAMFS_COMPRESSION_GZIP=n
CONFIG_INITRAMFS_COMPRESSION_BZIP2=n
CONFIG_INITRAMFS_COMPRESSION_LZMA=n
CONFIG_INITRAMFS_COMPRESSION_XZ=n
CONFIG_INITRAMFS_COMPRESSION_LZO=n
CONFIG_INITRAMFS_COMPRESSION_LZ4=n
CONFIG_INITRAMFS_COMPRESSION_ZSTD=y

CONFIG_SQUASHFS=m
CONFIG_SQUASHFS_ZSTD=y
CONFIG_SQUASHFS_FILE_DIRECT=y
CONFIG_SQUASHFS_DECOMP_MULTI_PERCPU=y
CONFIG_SQUASHFS_4K_DEVBLK_SIZE=y

CONFIG_DM_VERITY=m
#CONFIG_DM_VERITY_VERIFY_ROOTHASH_SIG=y

CONFIG_KEY_DH_OPERATIONS=y
CONFIG_PKCS8_PRIVATE_KEY_PARSER=m
