[Unit]
Description=Configure known Wifi networks
Before=iwd.service
BindsTo=iwd.service

[Service]
Type=oneshot
StateDirectory=iwd
StateDirectoryMode=0700
ExecStart=/bin/find /boot/ -maxdepth 1 -name '*.psk' -type f -exec /bin/cp -p -f {} /var/lib/iwd/ +

[Install]
WantedBy=iwd.service
