[Unit]
Description=OpenSSH server daemon
Requires=ssh-host-key@rsa.service ssh-host-key@ecdsa.service ssh-host-key@ed25519.service ssh-authorized-keys.service
After=ssh-host-key@rsa.service ssh-host-key@ecdsa.service ssh-host-key@ed25519.service ssh-authorized-keys.service

[Service]
ExecStart=/usr/sbin/sshd -i -e -o AuthorizedKeysFile=/etc/ssh/%%u_authorized_keys -o PasswordAuthentication=no
SuccessExitStatus=255
StandardInput=socket
StandardOutput=socket
StandardError=journal
