[Unit]
Description=USB gadget
Wants=sys-kernel-config.mount
After=sys-kernel-config.mount
BindsTo=sys-devices-platform-soc-20980000.usb-udc-20980000.usb.device
After=sys-devices-platform-soc-20980000.usb-udc-20980000.usb.device
Wants=serial-getty@ttyGS0.service
Before=serial-getty@ttyGS0.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/os-release

ExecStartPre=/usr/bin/mkdir -p /sys/kernel/config/usb_gadget/g1
ExecStartPre=/usr/bin/sh -c 'echo 0x1d6b > /sys/kernel/config/usb_gadget/g1/idVendor'
ExecStartPre=/usr/bin/sh -c 'echo 0x0104 > /sys/kernel/config/usb_gadget/g1/idProduct'
ExecStartPre=/usr/bin/mkdir -p /sys/kernel/config/usb_gadget/g1/strings/0x409
ExecStartPre=/usr/bin/sh -c 'echo "%m" > /sys/kernel/config/usb_gadget/g1/strings/0x409/serialnumber'
ExecStartPre=/usr/bin/sh -c 'echo "$PRETTY_NAME" > /sys/kernel/config/usb_gadget/g1/strings/0x409/manufacturer'
ExecStartPre=/usr/bin/sh -c 'echo %H > /sys/kernel/config/usb_gadget/g1/strings/0x409/product'
ExecStartPre=/usr/bin/mkdir -p /sys/kernel/config/usb_gadget/g1/functions/acm.GS0
ExecStartPre=/usr/bin/mkdir -p /sys/kernel/config/usb_gadget/g1/functions/ncm.usb0
ExecStartPre=/usr/bin/mkdir -p /sys/kernel/config/usb_gadget/g1/configs/c.1
ExecStartPre=/usr/bin/sh -c 'echo 120 > /sys/kernel/config/usb_gadget/g1/configs/c.1/MaxPower'
ExecStartPre=/usr/bin/mkdir -p /sys/kernel/config/usb_gadget/g1/configs/c.1/strings/0x409
ExecStartPre=/usr/bin/sh -c 'echo "CDC ACM+NCM" > /sys/kernel/config/usb_gadget/g1/configs/c.1/strings/0x409/configuration'
ExecStartPre=/usr/bin/ln -sf /sys/kernel/config/usb_gadget/g1/functions/acm.GS0 /sys/kernel/config/usb_gadget/g1/configs/c.1/acm.GS0
ExecStartPre=/usr/bin/ln -sf /sys/kernel/config/usb_gadget/g1/functions/ncm.usb0 /sys/kernel/config/usb_gadget/g1/configs/c.1/ncm.usb0

ExecStart=/usr/bin/sh -c 'echo "20980000.usb" > /sys/kernel/config/usb_gadget/g1/UDC'
ExecStop=/usr/bin/sh -c 'echo "" > /sys/kernel/config/usb_gadget/g1/UDC'

ExecStopPost=-/usr/bin/rm /sys/kernel/config/usb_gadget/g1/configs/c.1/ncm.usb0
ExecStopPost=-/usr/bin/rm /sys/kernel/config/usb_gadget/g1/configs/c.1/acm.GS0
ExecStopPost=-/usr/bin/rmdir /sys/kernel/config/usb_gadget/g1/configs/c.1/strings/0x409
ExecStopPost=-/usr/bin/rmdir /sys/kernel/config/usb_gadget/g1/configs/c.1
ExecStopPost=-/usr/bin/rmdir /sys/kernel/config/usb_gadget/g1/functions/ncm.usb0
ExecStopPost=-/usr/bin/rmdir /sys/kernel/config/usb_gadget/g1/functions/acm.GS0
ExecStopPost=-/usr/bin/rmdir /sys/kernel/config/usb_gadget/g1/strings/0x409
ExecStopPost=-/usr/bin/rmdir /sys/kernel/config/usb_gadget/g1

[Install]
WantedBy=multi-user.target
RequiredBy=serial-getty@ttyGS0.service
